
body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: #0a0a0a;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }

input {
    border: 1px solid #0a0a0a;
    margin: 0;
    width: 60%;
    font-size: 1.5rem;
    height: 3rem;
    padding-left: 0.7rem;
  }

li {
    cursor: pointer;
    list-style-type: none;
    box-sizing: border-box;
    line-height: 25.6px;
    text-align: left;
    padding-left: 0px;
    margin-left: 0px;
}

ul {
  padding-left: 0px;
  margin-left: 0px;
  text-align: left;
}

.address-element:hover {
  background-color: lightpink;
}

.home-page-content {
  width: 983px;
  margin-left: 264.6px;
  margin-right: 264.6px;
}
