
body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    color:rgb(36, 35, 35);
    margin: 0; 
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 20px;
    line-height: 24px;
    background-color: rgb(245,248,250);
  }

#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    right: 0; 
    width: 50%; 
}

.record-content {
  width: 672px;
  margin-left: 412px;
  margin-right: 412px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.building-address {
  text-align: left;
}

.apartment-number {
  text-align: left;
}

.record-table {
  flex: 1;
  font-size: 14px;
  line-height: 19px;
  color:rgb(36, 35, 35);
  border: 1px solid;
  border-bottom-color: rgb(114, 126, 150);
  border-top-color: rgb(114, 126, 150);
  border-left-color: rgb(114, 126, 150);
  border-right-color: rgb(114, 126, 150);
  border-collapse: collapse;
}

.record-table th {
  background-color: white;
  font-weight: 400;
}

.record-table td {
  background-color: rgb(250,247,245)
}

th, td {
  border: 1px solid rgb(36, 35, 35);
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.record-submission {
  width: 672px;
  margin-left: 412px;
  margin-right: 412px;
}

.add-record-title {
  padding-top: 20px;
  text-align: center;
  font-size: 22px;
}

form {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-input {
  display: flex;
  justify-content: flex-end;
  padding: 6.4px;
  width: 100%;
}

.form-input > label {
  flex: 1;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: right;
}

.form-input > input, 
.form-input > select {
  flex: 2;
}

.or {
  /* text-align: center; */
  /* justify-content: center; */
  align-self: center;
}

#submit-button {
  padding: 6px;
  /* display: block; */
  align-self: center;
}