<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>NYC address search</title>
  </head>
  <body>
    <form action="/search-handling" method="post">
        <p>
          <input type="text" id="search" name="address_search" placeholder="Search..."/>
        </p>
    </form>

    <script>
        function getValue() {
            var input = document.getElementById("search");
            var input_value = input.value;
            console.log(input.value);
            return input_value
        }

        async function sendValue() {
            var user_input = getValue();
            const url = "https://geosearch.planninglabs.nyc/v2/autocomplete?text="+user_input;
            // var data = fetch(url)
            //     .then( res => res.json() )
            //     .then( data => console.log(data) );

            try {
                const response = await fetch(url);
                if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
                }

                const json = await response.json();
                console.log(json);
                return json
            } catch (error) {
                console.error(error.message);
            }
        }

        function parseData() {
            var address_data = sendValue();
            console.log(address_data);
            // console.log(address_data.features[0].properties)
        }

        // getValue();
        // sendValue();
        parseData();

    </script>
    
  </body>
</html>