<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>NYC apartment records</title>
  </head>
  <body>
    {% if apartments %}
      <h3>Records for {{ apartments[0]['housenumber'] }} {{ apartments[0]['street'] }}, {{  apartments[0]['borough'] }}</h3>
    {% else %}
      <h3>Records for {{ housenumber }} {{ street }}, {{  borough }}</h3>
    {% endif %}

    {% if unit_numbers %}
      {% for unit in unit_numbers %}
        <h4>{{ unit }}</h4>
        {% endfor %}
    {% endif %}

    {% if records and apartments %}
      {% for apartment in apartments %}
        <h4>{{ apartment['unitnumber'] }}</h4>
        {% for record in records %}
          {% if record['apartment_id'] == apartment['id'] %}
            <div class='record'>
                <p>{{ record['year'] }} {{ record['status'] }}, {{ record['apartment_id'] }}</p>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}

      <!-- {% for record in records %}
          <div class='record'>
              <p>{{ record['year'] }} {{ record['status'] }}, {{ record['apartment_id'] }}</p>
          </div>
      {% endfor %} -->

    {% else %}
      <p>There are no records yet for the address you entered. Request your rent history using this <a href="https://app.justfix.org/en/rh/splash">link</a> or add a new record below.</p>
    {% endif %}


    <h3>Add a Record for {{ housenumber }} {{ street }}, {{  borough }}</h3>
      <form action="/add-record" method="post">
        <label for="year">Choose a year:</label>
        <select id="year" name="year">
          {% for year in range (1984, 2025) %}
            <option value="{{year}}">{{year}}</option>
          {% endfor %}
        </select>

        <label for="status">Apartment Status:</label>
        <select id="status" name="status">
          <option value="rs">RS - Rent Stabilized</option>
          <option value="rc">RC - Rent Controlled</option>
          <option value="rsts">RS-TS - Temporarily Exempt</option>
          <option value="pe">PE - Permanently Exempt</option>
          <option value="rsv">RS-V - Vacant</option>
          <option value="rsnh">RS-NH - Not For Profit Homeless Unit</option>
        </select>

        {% if apartment_id %}
            <input type="hidden" name="apartment_id" value="{{ apartment_id }}">
          {% endif %}
          {% if housenumber %}
            <input type="hidden" name="housenumber" value="{{ housenumber }}">
          {% endif %}
          {% if street %}
            <input type="hidden" name="street" value="{{ street }}">
          {% endif %}
          {% if borough %}
            <input type="hidden" name="borough" value="{{ borough }}">
          {% endif %}

        <input type="submit">
      </form>
  </body>
</html>