<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>NYC apartment records</title>
    <link href="/static/css/records.css" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.9.3/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.9.3/mapbox-gl.js"></script>
  </head>

  <body>

      <div class='new-search'>
          <a href="https://nycrentalhistory.rcdis.co/">New Search</a>
      </div>

      {% if apartments %}
      <div class='building-address'>
        BUILDING: {{ apartments[0]['housenumber'] }} {{ apartments[0]['street'].capitalize() }}, {{  apartments[0]['borough'].capitalize() }}
      </div>
      {% else %}
      <div class='building-address'>
        BUILDING: {{ housenumber }} {{ street.capitalize() }}, {{  borough.capitalize() }}
      </div>
      {% endif %}

      <div class="records-content">

      {% if records and apartments %}
        {% for apartment in apartments %}

        <div class='apartment-number'>
          UNIT NUMBER: {{ apartment['unitnumber'].upper() }}
        </div>

          <table class="record-table">
            <col style="width: 65%;" />
            <col style="width: 35%;" />
            <tr>
              <th>
                Registration Year
              </th>
              <th>
                Apartment Status
              </th>
              <th>
                Filing Date
              </th>
              <th>
                Legal Rent
              </th>
              <th>
                Preferential Rent
              </th>
              <th>
                Actual Rent
              </th>
              <th>
                Reasons Different / Change
              </th>
              <th>
                Lease Dates
              </th>
            </tr>
          {% for record in records %}
            
            {% if record['apartment_id'] == apartment['id'] %}
            <!-- <div>
              record[apt_id]: {{record['apartment_id']}}
              </div>
              <div>
                apartment[id]: {{apartment['id']}}
              </div> -->
                <tr>
                  <td>
                    {{ record['year'] }}
                  </td>
                  <td>
                    {{ record['status'] }}
                  </td>
                  <td>
                    {{ record['filing_date'] }}
                  </td>
                  <td>
                    {{ record['legal_rent'] }}
                  </td>
                  <td>
                    {{ record['preferential_rent'] }}
                  </td>
                  <td>
                    {{ record['actual_rent'] }}
                  </td>
                  <td>
                    {{ record['reasons_difference'] }}
                  </td>
                  <td>
                    {{ record['lease_dates'] }}
                  </td>
                </tr>
            </table>
            {% endif %}
          {% endfor %}
        {% endfor %}
        </div>
        

      {% else %}
        <p>There are no records yet for the address you entered. Request your rent history using this <a href="https://app.justfix.org/en/rh/splash">link</a> or add a new record below.</p>
      {% endif %}

      
      
      <script src="/static/js/records.js"></script>
  </body>
</html>